* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f53b57;
}

.nav {
  position: relative;
  width: 350px;
  height: 70px;
  background: #fff;
  border-radius: 35px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.nav ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  color: #333;
  font-weight: 500;
}

.nav ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav ul li a .icon .fa {
  font-size: 24px;
}

.nav ul li a .title {
  position: absolute;
  top: -75px;
  left: 50%;
  -webkit-transform: translate(-50%, 5%);
          transform: translate(-50%, 5%);
  background: #fff;
  width: auto;
  padding: 6px 3px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.nav ul li a .title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  bottom: -9px;
  left: 48%;
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
  border-radius: 2px;
}

.nav ul li.active a .icon {
  color: #fff;
}

.nav ul li:hover a .title {
  opacity: 1;
  visibility: visible;
}

.nav ul .indicator {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav ul .indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #333;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav ul li:nth-child(1).active ~ .indicator {
  -webkit-transform: translateX(calc(70px * 0));
          transform: translateX(calc(70px * 0));
}

.nav ul li:nth-child(2).active ~ .indicator {
  -webkit-transform: translateX(calc(70px * 1));
          transform: translateX(calc(70px * 1));
}

.nav ul li:nth-child(3).active ~ .indicator {
  -webkit-transform: translateX(calc(70px * 2));
          transform: translateX(calc(70px * 2));
}

.nav ul li:nth-child(4).active ~ .indicator {
  -webkit-transform: translateX(calc(70px * 3));
          transform: translateX(calc(70px * 3));
}

.nav ul li:nth-child(5).active ~ .indicator {
  -webkit-transform: translateX(calc(70px * 4));
          transform: translateX(calc(70px * 4));
}

.nav ul li:nth-child(1).active ~ .indicator::before {
  background: #f53b57;
}

.nav ul li:nth-child(2).active ~ .indicator::before {
  background: #3c40c6;
}

.nav ul li:nth-child(3).active ~ .indicator::before {
  background: #05c46b;
}

.nav ul li:nth-child(4).active ~ .indicator::before {
  background: #0fbcf9;
}

.nav ul li:nth-child(5).active ~ .indicator::before {
  background: #ffa801;
}
/*# sourceMappingURL=style.css.map */